# Lite LLM Gateway
LITELLM_MASTER_KEY="sk-1234"
LITELLM_SALT_KEY="sk-1234"

# OPEN WEB UI
ENABLE_OPENAI_API=True
OPENAI_API_BASE_URL=
OPENAI_API_KEY=

WEBUI_SECRET_KEY="webui-secret" # change this to a secure string
WEBUI_URL=
CORS_ALLOW_ORIGIN=
WEBUI_ADMIN_EMAIL="admin@gmail.com"
WEBUI_ADMIN_PASSWORD="Test@123"
# PORT=8080 # PORT where the UI runs